@font-face {
    font-family: 'song_of_coronosregular';
    src: url('Fonts/song_of_coronos-webfont.woff2') format('woff2'), url('Fonts/song_of_coronos-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keetano_katakanaregular';
    src: url('Fonts/keetano_katakana-webfont.woff2') format('woff2'), url('Fonts/keetano_katakana-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #282b30;
}

.container {
    display: flex;
    height: 100%;
    background-color: #282b30;
}

.item-side {
    height: 100%;
    width: 187px;
    border: 4px;
    border-radius: 16px;
    border-color: #1e2124;
    background-color: #1e2124;
}

.item-center {
    flex-grow: 1;
    padding-top: 42px;
}

.output {
    width: 746px;
    height: 420px;
    margin: 38px auto;
    padding: 21px;
    background-color: #1e2124;
}

.input {
    width: 746px;
    height: 140px;
    margin: auto;
    padding: 21px;
    background-color: #1e2124;
}

.display {
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'song_of_coronosregular';
}

.text {
    width: auto;
    flex-grow: 1;
    background-color: #7289da;
}

.enter {
    width: 140px;
    margin-right: 0px;
}

.fa-chevron-right {
    color: #1e2124;
}

#run {
    color: #1e2124;
}